<settings>
    <location gmaps="no">
        <altitude>50</altitude>
        <latitude>40.6306</latitude>
        <longitude>22.9589</longitude>
    </location>
    <TCP autoconnect="yes">
        <host>10.42.0.158</host>
        <port>10001</port>
    </TCP>
    <TCPStell autoconnect="yes" remote="no">
        <host>127.0.0.1</host>
        <port>10002</port>
    </TCPStell>
    <TCPRPiServ remote="yes">
        <host>10.42.0.1</host>
        <port>10003</port>
    </TCPRPiServ>
    <object stationary="yes">
        <name>Crab Nebula</name>
        <RA>83.63308333</RA>
        <DEC>22.0145</DEC>
    </object>
    <Steps dec_to_home="0" ra_to_home="0" />
</settings>